*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient( lightblue,white);
}
.clouds{
    width: 550px;
    position: absolute;
    animation: clouds 20s infinite linear;
}

@keyframes clouds {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
    
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: -70px;
    }

    to{
        right: 100%;
    }
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0%;

}

.jump{
    animation: jump 500ms ease-in-out;
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}
    


